<header class="app-header flex justify-center">
  <div class="container flex items-center justify-between px-2">
    <h4 class="font-bold text-xl">
      <img class="w-6" src="./assets/logo.png" alt="BeList">
    </h4>
    <div class="flex gap-3">
      @if ( this.isAuthenticated$ | async) {
        <a class="px-2 font-medium cursor-pointer" [href]="'todo'">Tarefas</a>
        <div class="px-2 font-medium cursor-pointer" (click)="onLogout()">Logout</div>
      } @else {
        <a class="px-2 font-medium cursor-pointer" [href]="'/'">Login</a>
        <a class="px-2 font-medium cursor-pointer" [href]="'register'">Cadastro</a>
      }
    </div>
  </div>
</header>
