<div class="grid md:grid-cols-2 h-screen overflow-auto">
  <div class="bg-blue-600 flex flex-col gap-4 justify-center">
    <div class="p-8 md:px-32">
      <h1 class="text-blue-100 text-3xl font-bold">BeList</h1>
      <p class="max-w-md text-blue-300 text-xl">
        Explore uma abordagem revolucionária para o gerenciamento de tarefas com o BeList.<br><br>
        Nossa aplicação intuitiva oferece uma plataforma organizacional poderosa, permitindo que você priorize, 
        compartilhe e conclua tarefas com facilidade.<br><br>Com recursos de lembretes, notificações e colaboração em tempo real, 
        simplificamos sua vida profissional e pessoal.<br><br>Acesse suas tarefas a qualquer momento, em qualquer lugar, 
        e experimente uma eficiência aprimorada.<br><br>
        BeList, onde a produtividade encontra a simplicidade. 
        Transforme suas tarefas em conquistas hoje mesmo!
      </p>
      <p class="pt-2 text-blue-100 font-bold">
        © {{years}} <a href="https://beflock.com/" target="_blank" class="hover:underline">BeFlock</a>. Todos os direitos reservados.
      </p>
    </div>
  </div>
  <div class="flex w-full justify-center items-center">
    <div class="p-8 w-11/12 md:w-4/5 xl:w-1/2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
