<div class="flex flex-col gap-2 p-6 bg-white rounded-lg shadow">
    <h5 class="text-xl mb-2 font-bold text-gray-900">Cadastro de Usuário</h5>
    <form
      action=""
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      (change)="change()"
      autocomplete="off"
      novalidate
    >
      <div class="form-group mb-3">
        <label for="">Endereço de email</label>
        <input
          type="text"
          placeholder="Endereço de email"
          class="form-control"
          formControlName="email"
          [class]="{
            invalid:
              loginForm.get('email')?.invalid && loginForm.get('email')?.touched,
            valid: loginForm.get('email')?.valid
          }"
        />
        @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
          @if (loginForm.get('email')?.hasError('required')) {
            <span class="form-error">O e-mail é obrigatório.</span>
          } @else if (loginForm.get('email')?.hasError('email')) {
            <span class="form-error">Informe um email válido.</span>
          } @else {
            <span class="form-error">E-mail inválido.</span>
          } 
        }
      </div>

      <div class="form-group mb-3">
        <label for="">Senha</label>
        <input
          type="password"
          placeholder="Senha"
          class="form-control"
          formControlName="password"
          [class]="{
            invalid:
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched,
            valid: loginForm.get('password')?.valid
          }"
        />
        @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
          @if (loginForm.get('password')?.hasError('required')) {
            <span class="form-error">A Senha é obrigatório.</span>
          } @else if (loginForm.get('password')?.hasError('minlength')) {
            <span class="form-error">
              A senha deve conter pelo menos {{ passwordMinLength }} dígitos.
            </span>
          } @else {
          <span class="form-error">Senha inválido.</span>
          } 
        }
      </div>

      <div class="form-group mb-3">
        <label for="">Confirme sua senha</label>
        <input
          type="password"
          placeholder="Confirmação de senha"
          class="form-control"
          formControlName="password_confirmation"
          [class]="{
            invalid:
              loginForm.get('password_confirmation')?.invalid &&
              loginForm.get('password_confirmation')?.touched,
            valid: loginForm.get('password_confirmation')?.valid
          }"
        />
        @if (loginForm.get('password_confirmation')?.invalid && loginForm.get('password_confirmation')?.touched) {
          @if (loginForm.get('password_confirmation')?.hasError('required')) {
            <span class="form-error">A confirmação de senha é obrigatório.</span>
          } @else if (loginForm.get('password_confirmation')?.hasError('minlength')) {
            <span class="form-error">
              A confirmação de senha deve conter pelo menos {{ passwordMinLength }} dígitos.
            </span>
          } @else {
            <span class="form-error">Confirmação de senha inválido.</span>
          } 
        }
        @if (loginForm.get('password')?.value !== loginForm.get('password_confirmation')?.value) {
          <span class="form-error">A confirmação de senha é obrigatório.</span>
        }
      </div>

      <button
        class="btn btn-primary"
        [disabled]="!this.loginForm.valid"
        [class]="{
          'btn-desable': !this.loginForm.valid
        }"
      >
        Cadastrar
      </button>
    </form>
  </div>
  